# Nette
/app/config/config.local.neon

# Composer
/vendor
/composer.lock

# NodeJS
/node_modules

# Assets
/www/dist

# Tests
/tests/*.log
/tests/tmp
/tests/coverage.html

/nbproject/