<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    
    {$webloaderFilesCollectionRender->css('base')|noescape}
   
    <title>{block #title|stripHtml|trim}Foto Uloženka{/} | by Jursa Foto</title>
        
    <meta name="description" n:ifset="#description" content="{include #description}">
    <meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="snippet,archive">
    <meta name="author" content="MVa">

    {block #head}{/}
</head>

<body>
    {block #main}
    
	<div class="container">
              
                {snippet flashes}
		<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="fa fa-{$flash->type}" aria-hidden="true"></span>
			<span class="sr-only">Message:</span>
			{_$flash->message}
		</div>
                {/snippet}
		{include #content}
	</div>
    {/}
    {$webloaderFilesCollectionRender->js('base')|noescape}
    <script>
	var happy = new Happy;
	happy.init();
    </script>
    
    {block #footer}{/}
</body>
</html>
