{layout '../../Base/templates/@layout.latte'}

{block #head}
        {$webloaderFilesCollectionRender->css('admin')|noescape}
        {$webloaderFilesCollectionRender->js('admin')|noescape}
	<!-- <link rel="stylesheet" href="{$basePath}/assets/admin.css" defer /> -->
	<!-- <script src="{$basePath}/assets/admin.js" defer></script> -->
{/block}

