# Parameters
#
parameters:

	# System
	system:
		error:
			email: vagovszky@gmail.com
			presenter: Front:Error

	# Database
	database:
		driver: pdo_pgsql
		port: 5432

	# File
	files:
		root: %appDir%/../data/files

	# Mailing
	mailing:
		from: nutella@localhost
		from_name: Nutella

	# STMP
	smtp:
		host: localhost
		username: fake
		password: fake
