sign:
    in:
        title: "Administrace"
        email: "Email"
        password: "Heslo"
        remember: "Pamatovat si přihlášení"
        submit: "Přihlásit se"
        success: "Přihlášení proběhlo úspěšně"
        error: "Chybný email nebo heslo"
        logout: "Odhlášení proběhlo úspěšně"
home:
    default:
        heading: "Nástěnka"
user:
    default:
        heading: "Uživatelé"
import:
    default:
        heading: "Import zakázek"
        