{block #content}

<h1 class="cover-heading">Fotouloženka</h1>
<p class="lead">Systém pro distribuci fotografií pro <a href="http://www.fotojursa.cz/">Foto Jursa</a>.</p>
<div class="lead">
    <a href="http://www.fotojursa.cz/" class="btn btn-lg btn-secondary">Navštivte Foto Jursa</a>
</div>