# Core Config
includes:
	# Application
	- ../app/parameters.neon
	- ../app/services.neon

	# Extensions
	- ../ext/contributte.neon
	- ../ext/nettrine.neon
	- ../ext/webloader.neon

php:
	date.timezone: Europe/Prague
	output_buffering: 4096

# Nette section
latte:
	xhtml: no

session:
	autoStart: smart
	#cookieDomain: '?->getUrl()->getDomain(4)'(@Nette\Http\IRequest)
	cookieHttponly: true
	#cookiePath: '?->getUrl()->getBasePath()'(@Nette\Http\IRequest) # Cookie path same as $basePath
	cookieSamesite: Lax
	cookieSecure: auto
	debugger: false
	expiration: 1 year
	name: SID
	#savePath: %tempDir%/session
	sidBitsPerCharacter: 6 # 4-6
	sidLength: 128 # 22-250
	useCookies: true
	useOnlyCookies: true
	useStrictMode: true

application:
	catchExceptions: %productionMode%
	errorPresenter: %system.error.presenter%
	mapping:
		Admin: [App\Modules\Admin, *, *\*Presenter]
		Front: [App\Modules\Front, *, *\*Presenter]

di:
	debugger: true

tracy:
	email: %system.error.email%
	logSeverity: E_ALL
	strictMode: yes

forms:
	messages:
		EQUAL: 'messages.forms.equal'
		NOT_EQUAL: 'messages.forms.not_equal'
		FILLED: 'messages.forms.filled'
		BLANK: 'messages.forms.blank'
		MIN_LENGTH: 'messages.forms.min_length'
		MAX_LENGTH: 'messages.forms.max_length'
		LENGTH: 'messages.forms.length'
		EMAIL: 'messages.forms.email'
		URL: 'messages.forms.url'
		INTEGER: 'messages.forms.integer'
		FLOAT: 'messages.forms.float'
		MIN: 'messages.forms.min'
		MAX: 'messages.forms.max'
		RANGE: 'messages.forms.range'
		MAX_FILE_SIZE: 'messages.forms.max_file_size'
		MAX_POST_SIZE: 'messages.forms.max_post_size'
		MIME_TYPE: 'messages.forms.mime_type'
		IMAGE: 'messages.forms.image'
		Nette\Forms\Controls\SelectBox::VALID: 'messages.forms.selectbox.valid'
		Nette\Forms\Controls\UploadControl::VALID: 'messages.forms.uploadcontrol.valid'
		Nette\Forms\Controls\CsrfProtection::PROTECTION: 'messages.forms.csrf.protection'
